<div id="poiDetail" style="display: block;">
    <div id="poiDetailContent">
        <div id="poiName"></div>
        <input type="button" id="addPoiToRoute" value="Legg til i rute" />
        <div id="addPoiToRouteForm" class="hidden padding translate">
            <input type="text" id="newRouteName" />
            <input type="button" value="$T[Create]" id="createNewRouteBtn" />
            <ul id="listExistingRoutes"></ul>
        </div>
    </div>
    <div id="poiCategory"></div>
    <div id="poiImage" class="$[thumbnailClass]">
        $IF(thumbnail)
        <img src="$[thumbnail]" id="poiThumbnail" />
        $ENDIF
    </div>
    <div id="poiVideo" class="hidden">
        <video id="videoElement" class="video-js vjs-default-skin">
        </video>
    </div>
    <div id="poiAudio" class="hidden">
    </div>
    <div id="poiIngress" class="padding">$[ingress]</div>

    <div id="detailAccordion" class="padding ui-accordion">
        <h3 class="ui-accordion-header translate">$T[Description]</h3>
        <div id="poiDescription" class="ui-accordion-content">$[description]</div>
        <h3 class="ui-accordion-header translate">$T[More information]</h3>
        <div id="poiAboutData" class="ui-accordion-content">
            $IF(tags)<b>$T[Subjects]:</b> $[tags]<br />$ENDIF
            $IF(year)<b>$T[Dating]:</b> $[year]<br />$ENDIF
            $IF(owner)<b>$T[Source]:</b> $[owner]<br />$ENDIF
            $IF(institution)<b>Institusjon:</b> $[institution]<br />$ENDIF
            $IF(originalVersion)<b>$T[Original version]:</b> $[originalVersion]<br/>$ENDIF
            $IF(creator)<b>$T[Creator]:</b> $[creator]<br/>$ENDIF
            $IF(license)<b>$T[License]:</b>$[license]<br/>$ENDIF
            <b>$T[External links]:</b>
            $IF(linkMoreInfo)<a href='$[linkMoreInfo]'>$[linkMoreInfo]</a><br/>$ENDIF
            $IF(landingPage)<a href='$[landingPage]'>$[landingPage]</a><br/>$ENDIF
            $IF(link)<a href='$[link]'>$[link]</a><br/>$ENDIF
                        
        </div>
    </div>
    </>
</div>
