<h2>Velkommen som betatester av Kultur- og naturreise appen!</h2>
<p>-	Synliggjør det usynlige</p>
<p>
    KNappen skal være en mobil formidlingsapenn som tar utgangspunkt i sted. 
    Den formidler store offentlige databaser sammen med Wikipedia.
</p>
<br />
<p>
    Poenget med en beta-versjon av KNappen er at vi skal få tilbakemeldinger fra deg på funksjoner som ikke virker og ting som du synes virker klønete. 
    Appen er ikke ferdig og du kommer til å komme bort i ting som er feil. 
    Når du opplever dette håper vi at du tar deg bryet om å sende oss en tilbakemelding slik at vi kan bli bedre.
</p>
<br />
<p>
    Det er altså stedet der du er, eller det stedet du er interessert i som er utgangspunkt for hvilken informasjon du får opp. 
    Hovedinngangen til KNappen er kart, men du kan søke etter informasjon og dra deg rundt på kartet for å finne annet. 
    Kanskje du foretrekker listevisning? Du kan personalisere KNappen under innstillinger. Hva med å lage en egen rute?
</p>
<br />
<p>
    Det kommer til å komme flere funksjoner, for eksempel kameravisning eller AR i tillegg til flere bakgrunnskart. 
    Hvis du har noen lure tanker så ikke nøl med å dele de med oss.
</p>
<br />
<p>
    Vi vil takke deg for at du vil være med å teste beta-versjon av KNappen. 
    Håper at du kan finne ut noe nytt om stedet der du er.
</p>